* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: auto;
    background-image: linear-gradient(to bottom right, red, black, blue);
  }
  
  main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    background-color: none;
    opacity: 0.5;


  }

  button:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 251, 4);
    background-color: rgb(255, 251, 4);
    color: black;
    transition: all 0.5s;

  }


  .main-header {
    display: flex;
    padding: 60px;
    background: #f00c0c00;
    color: #f3f1f1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

 nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;

  }

  .Nav.Work {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 2 0 200px;
    padding: 10px;
    text-align: center;
    border-style: none;
    background: none;
    display: inline-flex;
    align-items: center;
    border: none;
    color: #ffffff; 
    opacity: 0.8;
     ;
  }
  .Nav.Work:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 251, 4);
    background-color: rgb(255, 251, 4);
    color: black;
    transition: all 0.5s;
    cursor: pointer;


  }

  .Nav.Contact.Me {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 2 0 200px;
    padding: 10px;
    text-align: center;
    border-style: none;
    background: none;
    display: inline-flex;
    align-items: center;
    border: none;
    color: #ffffff;
    opacity: 0.8;
  }

  .Nav.Contact.Me:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 251, 4);
    background-color: rgb(255, 251, 4);
    color: black;
    transition: all 0.5s;
    cursor: pointer;

  }

  .Nav.Resume {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 2 0 200px;
    padding: 10px;
    text-align: center;
    border-style: none;
    background: none;
    display: inline-flex;
    align-items: center;
    border: none;
    color: #ffffff;
    opacity: 0.8;
    

  }

  .Nav.Resume:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 251, 4);
    background-color: rgb(255, 251, 4);
    color: black;
    transition: all 0.5s;
    cursor: pointer;

  }

  .Nav.About.Me {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 2 0 200px;
    padding: 10px;
    text-align: center;
    border-style: none;
    background: none;
    display: inline-flex;
    align-items: center;
    border: none;
    color: #ffffff;
    opacity: 0.8;
  }

  .Nav.About.Me:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 251, 4);
    background-color: rgb(255, 251, 4);
    color: black;
    transition: all 0.5s;
    cursor: pointer;

  }

  .Work header {
    padding: 20px;
    background: #dd0a0a00;
    color: #ffffff;

  }

  .Contact.Me header {
    padding: 20px;
    background: #dd0a0a00;
    color: #ffffff;
  }

  .Resume header {
    padding: 20px;
    background: #dd0a0a00;
    color: #ffffff;
  }

  .About.Me {
    
    flex: 2 1 200px;
    padding: 30px;
    background: #dd0a0a00;
    color: #ffffff;
    .right-image {
      float: right;
    }
    
    
  }    

  .article {  
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #dd0a0a00;
    color: #ffffff;
    justify-content: center;



  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    justify-content: center;
    align-items: center;

    display: flex;
    padding: 60px;
    background: #f00c0c00;
    color: #f3f1f1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;







  }

  .button {
    position: relative;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
  }

  .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.3s;
  }

  .button:hover:before {
    opacity: 1;
  }
  .button1 {
    min-height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
  }

  .button1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.3s;
  }

  .button1:hover:before {
    opacity: 1;
  }
  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
  }





  .button2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.3s;
  }

  .button2:hover:before {
    opacity: 1;
  }




  footer {
    display: flex;
    padding: 60px;
    background: #f00c0c00;
    color: #f3f1f1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .banner-container {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    overflow: hidden;
  }
  
  .banner {
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    position: relative;
    animation: scrollBanner 10s linear infinite;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    display: inline-block; /* Added display property */
  }
  
  @keyframes scrollBanner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  


